MYSQL_ROOT_PASSWORD=root
PORT=3000
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=worship
MYSQL_PASSWORD=worship
MYSQL_DATABASE=worship_helper
JWT_KEY=change-me
APP_ADMINISTRATOR_EMAIL=admin@example.com
URL_API=http://localhost:3000
URL_SITE=http://localhost:8081
URL_APP=http://localhost:5174
VITE_API_URL=http://localhost:3000
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
REGION=us-east-1
S3_BUCKET=worship-helper-bucket
PUPPETEER_EXECUTABLE_PATH=
